<%= form_for(user, html: {class: 'ui form'}) do |f| %>
  <% if user.errors.any? %>
    <div class="ui message negative">
      <div class="header">
        <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:
      </div>

      <ul class="list">
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>  
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit  class: 'ui button primary' %>
    <%= link_to 'Show Profile', @user, class: 'ui button' %>
  </div>
<% end %>
