<h1>Users</h1>

<table class="ui table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Session str</th>
      <th>Ip</th>
      <th>#. collections</th>
      <th>Created At</th>
      <th>Last Sign In</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.valid_email? %>
            <%= user.email %>
          <% elsif user.email.present? %>
            <span style='color:silver;'>N/A</span>
          <% end %>  
        </td>
        <td><%=link_to user.session_str, "/sessions/#{user.session_str}" %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.collections.size %></td>
        <td><%= user.created_at %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="ui center aligned grid">
  <div class="row">
    <%= paginate @users %>
  </div>
</div>