<h1 class="ui header">
  <% if @user.super_admin? %>
    <i class="icon user secret"></i>
  <% else %>
    <i class="icon user circle"></i>
  <% end %>
  <% if @user.valid_email? %>
    <%= @user.email %>
  <% else %>
    ID: <%= @user.session_str %>
  <% end %>
</h1>

<div class="ui message info">
  Please save the URL below. You can re-use or share this session using the URL.
  <h3 style='padding: 1em;'>
    <%=link_to @url, @url %>
  </h3>
</div>

<%=form_tag("/users/sendmail", class: "ui form" ) do %>
  <div class="inline field">
    <input type="email" name="email" placeholder="Enter your email address" size="30">
    <button class="ui button primary">
      <i class="icon mail"></i>
      Send me the URL above
    </button>
  </div>
<% end %>


<div class="ui divider">


</div>

<%=link_to destroy_user_session_path,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button red' do %>
  <i class="icon sign out"></i>
  Log Out
<% end %>

<% if @user.valid_email? %>
  <% if @user.id == @current_user.id %>
    <%=link_to 'Edit Profile', edit_user_registration_path, class: 'ui button teal basic' %>
  <% else %>
    <%=link_to 'Edit Profile', edit_user_path(@user), class: 'ui button teal basic' %>
  <% end %>
<% else %>
  <%=link_to edit_user_path(@user), class: 'ui button green' do %>
    <i class="icon linkify"></i>
    Register Email & Password
  <% end %>
<% end %>

<% if @current_user.super_admin? %>
  <%=link_to '/users', class: 'ui button green' do %>
    <i class="icon user secret"></i>
    List of Users
  <% end %>
<% end %>